.cabecalho{
    color: white;
    background-color: black;
    text-align: center;
    padding: 30px;
}

.cabecalho h3{
    color: rgb(206, 206, 8);
}
.footer {
    background-color: #212529;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100vw;
    margin: 0;
    position: relative;
    left: 0;
    box-sizing: border-box;
}

